<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Compression Master</title>
</head>

<body>
    <header>
        <center> <h1> COMPRESSION MASTER</h1></center>
    </header>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="recommendation.html">Recommendation Page</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section class="home-section">
            <h2>About Us</h2>
            <p>
                Welcome to Compression Master, your go-to tool for recommending the most suitable compression algorithms tailored
                to your document's needs.<br>
                We understand the importance of optimizing data transfer and have designed this tool with two primary user
                requirements in mind: Bandwidth Utilization and Speed.
            </p>

            <p>
                <b>1. Bandwidth Utilization:</b> Compression Master excels in optimizing bandwidth utilization. In today's
                data-driven world, efficient use of bandwidth is crucial to ensure seamless and swift data transfer. Our tool
                analyzes your document and suggests compression algorithms that significantly reduce the size of your data,
                minimizing the strain on bandwidth resources. By prioritizing bandwidth efficiency, we aim to enhance your
                overall data transfer experience.
                <br>
                <b>2. Speed-Based Compression:</b> We recognize that speed is paramount when it comes to transferring data.
                Compression Master is equipped to address the need for rapid data transfer without compromising the integrity
                of your documents. Our tool evaluates the content and recommends compression algorithms that prioritize speed,
                ensuring that your data reaches its destination swiftly and efficiently.
            </p>

            <h3>How It Works ?</h3>
            <b>Bandwidth Utilization Based:</b>
            <br>
            <br> - Upload your document, and Compression Master analyzes its content.
            <br> - Based on the analysis, we recommend compression algorithms that minimize bandwidth usage.
            <br>- Implement the suggested compression technique to experience optimized data transfer.
            <br>
            <br>
            <b>Compression:</b>
            <br>
            <br> - Upload your document, and Compression Master examines its characteristics.
            <br> - Receive recommendations for compression algorithms tailored to enhance data transfer speed.
            <br> - Apply the recommended compression methods to accelerate your data transfer processes.
        </section>
<br>
<br>
<br>
<br>
    </div>

    <footer>
        <p>&copy; 2024 Compression Master, AMMOGDEVS. All rights reserved.</p>
    </footer>
</body>

</html>
