<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Recommendation Page</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Recommendation Page</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section class="recommendation-section">
            <h2>Recommendation Page</h2>
            <form action="results.html">
              <p>  <label for="file-type">File Type:</label>
                <select id="file-type" name="file-type">
                    <option value="text">Text (.txt)</option>
                    <option value="image">Image (.jpg)</option>
                </select>
              </p>
               <p>
              <label for="file-size">File Size:</label>
                <select id="file-size" name="file-size">
                    <option value="93264837.8">93,264,837.8 Mb</option>
                    <option value="120879456.5">120,879,456.5 Mb</option>
                    <option value="45062319.2">45,062,319.2 Mb</option>
                    <option value="78921075.4">78,921,075.4 Mb</option>
                    <option value="205743821.9">205,743,821.9 Mb</option>
                    <option value="65489072.7">65,489,072.7 Mb</option>
                    <option value="302568904.3">302,568,904.3 Mb</option>
                    <option value="48730156.6">48,730,156.6 Mb</option>
                    <option value="51248703.1">51,248,703.1 Mb</option>
                    <option value="180934567.8">180,934,567.8 Mb</option>
                    <option value="75291034.5">75,291,034.5 Mb</option>
                    <option value="289503476.2">289,503,476.2 Mb</option>
                    <option value="62504879.3">62,504,879.3 Mb</option>
                    <option value="148123456.7">148,123,456.7 Mb</option>
                    <option value="90123504.8">90,123,504.8 Mb</option>
                </select>
               </p>
               <p>
                <label for="processor">Processor:</label>
                <select id="processor" name="processor">
                    <option value="TI-DM3730">Texas Instruments DM3730</option>
                    <option value="Intel-i3-2105">Intel® Core™ i3-2105</option>
                    <option value="Intel-i7-2630QM">Intel® Core™ i7-2630QM</option>
                    <option value="Broadcom-BCM2709">Broadcom BCM2709</option>
                    <option value="Intel-i5-2400">Intel® Core™ i5-2400</option>
                </select>
               </p>

                <button type="submit">Submit</button>
            </form>
        </section>
    </div>


</p>
    <footer>
        <p>&copy; 2024 Compression Master,AMMOGDEVS.All rights reserved.</p>
    </footer>
</body>

</html>
